<div class="container">
    <div class="row">
        <div class="col-md-12 py-4">
            <h3 class="text-center">{{ title }}</h3>
            <hr>
            <div class="text-center">
                <div class="mb-3 form-floating">
                    <input id="keyboard" type="text" placeholder="Keyboard" name="keyboard" class="form-control" [(ngModel)]="text">
                    <label for="keyboard">Keyboard</label>
                </div>
                <br>
                <div>
                    <button class="btn btn-success text-center" (click)="toPrint()"><i class="fas fa-sms me-2"></i>Console</button>
                </div>
            </div>
        </div>
    </div>
</div>